{{ define "main" }}
<section class="section-wrapper" aria-label="Legal notice">
  <h1 class="text-2xl font-medium mb-4">Legal Notice</h1>
  <p>couper.io</p>
  <br>
  <br>
  <h3 class="h3-line text-lg font-medium mb-2">Marcel Ludwig</h3>
  <a href="https://github.com/malud" target="_blank" rel="noopener noreferrer">https://github.com/malud</a>
  <br><br>
  E-Mail:
  <a href="mailto:contact@couper.io" target="_blank" rel="noopener noreferrer">contact@couper.io</a>
  <br>
  Homepage:
  <a href="https://www.couper.io/" target="_blank" rel="noopener noreferrer">www.couper.io</a>
</section>
{{ end }}
